body {
  font-family: 'Open Sans', serif;
  padding-top: 60px;
  color: #40838F;
  background-color: #eee6d3;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 15rem;
  }
}

h1 {
  font-family: 'Oswald', helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  line-height: 8rem;
  color: #1e2933;
  letter-spacing: -1px;
}

h2 {
  font-family: 'Oswald', helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  line-height: 8rem;
  color: #40838F;
  letter-spacing: -1px;
}

h3,
h4,
h6
{
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #0A1D29;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #1e2933;
  text-align: center;
}

.modal-title,
.modal-header {
  text-align: center;
}

/* mobile menu bar */
.d-block{
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  color: #f1f1eb;
}

.subheading {
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.5rem;
  color: #BF641D;
}

.list-social-icons a {
  color: #1e2933;
}

.list-social-icons a:hover {
  color: #40838f;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #40838f;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid;
    border-color: #1e2933;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #0a1D29 !important;
}

.text-primary {
  color: #40838F !important;
}

a {
  color: #BF641D;
}

a:hover{
  color: #1e2933;
  text-decoration: underline;
  opacity: .9;
}

#captive {
  border: 1px solid white;
}

.row {
  margin-bottom: 20px;
}
